<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
  <title>MyWebsite</title>
</head>
<body>

<div class="container">

  <h1>My Website</h1>
  <h2>회원 기능</h2>
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary" type="button"
              th:onclick="|location.href='@{/members/new}'|">
        회원가입
      </button>
    </div>
    <div class="col">
      <button class="btn btn-secondary" type="button"
              th:onclick="|location.href='@{/members/list}'|">
        회원 목록
      </button>
    </div>
    <div class="col">
      <button class="btn btn-secondary" type="button"
              th:onclick="|location.href='@{/members/login}'|">
        로그인
      </button>
    </div>

  </div>

  <br>
  <h2>게시글 기능</h2>
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary" type="button"
              th:onclick="|location.href='@{/boards/new}'|">
        게시글 등록
      </button>
    </div>
    <div class="col">
      <button class="btn btn-secondary" type="button"
              th:onclick="|location.href='@{/boards}'|">
        게시글 목록
      </button>
    </div>
  </div>

</div>  <!-- container -->
</body>
</html>