<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
  <title>MembersList</title>
</head>
<body>
<div class="container">
  <h1>회원 목록</h1>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>아이디</th>
        <th>닉네임</th>
        <th>권한</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td th:text="${member.userId}"></td>
        <td th:text="${member.userName}"></td>
        <td th:text="${member.role}"></td>
      </tr>
      </tbody>
    </table>
  </div>

</div> <!-- container -->

</body>
</html>